.header {
    height: 5rem;

    .logo {
        padding: 0.5rem;
    }

    .title {
        font-weight: 600;
        font-size: 2rem;
        padding: 0 1rem;
    }
}

.sidenav-container {
    height: 100%;
}

